[Desktop Entry]
Name=Información Comandos
Name[es]=Información Comandos
Comment=Programa que ofrece ayuda sobre comandos
Comment[es]=Programa que ofrece ayuda sobre comandos
Exec=sh /usr/bin/amigo
Icon=amigo
StartupNotify=true
Terminal=true
Type=Application
Categories=GTK;System;TerminalEmulator;