[Desktop Entry]
Name=Root Terminal
Name[es]=Terminal de «Root»
Comment=Opens a terminal as the root user, using gksu to ask for the password
Comment[es]=Abre un terminal como el usuario «root» utilizando gksu para preguntar la contraseña.
Exec=sh /usr/bin/amigo
Icon=amigo
StartupNotify=true
Terminal=true
Type=Application
Categories=GTK;System;TerminalEmulator;